/* CSS RESET */
@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700&display=swap');
/* DEFAULT STYLES */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    /* general6 */
    background-color: black;
    color: #ffffff;
}
a:link {
    text-decoration: none;
    color: #ffffff;
}
  
a:visited {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
    color: #000000;
    text-decoration: none;
    
}
/* --------HOME-------------- */
#home {
    background-image: url("/images/spotify-background.jpeg");
    height: 100vh;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
#form-input{
    padding: 1rem 2rem;
    border-radius: 3rem 0 0 3rem;
    border: none;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
#form-button{
    padding: 1rem 2rem;
    border-radius: 0rem 3rem 3rem 0;
    border: none;
    background-color: #e44d3c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* -----Artist & Album result-------------------------------- */
.container{
    display: flex;
    flex-wrap: wrap;
    /* height: 1000px; */
    justify-content: center;
}
.result {
    width: 400px;
    height: 500px;
    margin: 0.5rem; 
    font-size: 0.7rem; 
    line-height: 1rem;
}
.result img{
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.result div {
    background-color: #333333; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-top: 0;
}
.result h2{
    margin-left: 2rem;
    width: 200px;
}

.card-button{
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    background-color: #e44d3c; 
    font-weight: 500;
    margin-right: 1rem;

}

/* ---------------------------- */
.track {
    background-color: #333333; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-top: 0;
    font-size: 0.7rem; 
    line-height: 1rem;
    margin-bottom: 1px;

}
.track span{
    margin-left: 2rem;
    width: 600px;
}
